/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

// Raleway
@font-face {
	font-family: 'Raleway Bold';
	src: url('fonts/raleway/Raleway-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
  font-family: 'Raleway ExtraBold';
  src: url('fonts/raleway/Raleway-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
	font-family: 'Raleway ExtraLight';
	src: url('fonts/raleway/Raleway-ExtraLight.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Heavy';
	src: url('fonts/raleway/Raleway-Heavy.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Light';
	src: url('fonts/raleway/Raleway-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Medium';
	src: url('fonts/raleway/Raleway-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Regular';
	src: url('fonts/raleway/Raleway-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway SemiBold';
	src: url('fonts/raleway/Raleway-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Thin';
	src: url('fonts/raleway/Raleway-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}

// Great Vives
@font-face {
	font-family: 'Great Vibes';
	src: url('fonts/GreatVibes-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

// Keep Calm
@font-face {
	font-family: 'Keep Calm Medium';
	src: url('fonts/KeepCalm-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
